<table>
  <tr>
  <td>
      <label class="example-margin">Sort:</label><md-checkbox [(ngModel)]="sortBy" ></md-checkbox>
          <md-input-container>
            <input #input mdInput placeholder="Name" value="">
          </md-input-container>
        <md-divider></md-divider>
          <md-list-item *ngFor="let item of itemsLeft | searchPipe: input.value : sortBy" (click)="onSelect(item)" >
            <h4 md-line>{{item.name}}</h4>
            <md-list-item *ngFor="let flag of item.flags">
              <md-icon md-list-avatar>{{flag}}</md-icon>
            </md-list-item>
          </md-list-item>
          </td>
  <td>
   <h2>Info</h2>
          <label class="example-margin">Name:</label>{{infoItem.name}}
          <label class="example-margin">Flags:</label>
          <md-list-item *ngFor="let flag of infoItem.flags">
            <md-icon md-list-avatar>{{flag}}</md-icon>
          </md-list-item>
  </td>
  <td>
        <label class="example-margin">filter:</label>
            <md-button-toggle-group #group="mdButtonToggleGroup">
              <md-button-toggle value="folder">
                <md-icon>folder</md-icon>
              </md-button-toggle>
              <md-button-toggle value="home">
                <md-icon>home</md-icon>
              </md-button-toggle>
              <md-button-toggle value="star">
                <md-icon>star</md-icon>
              </md-button-toggle>
            </md-button-toggle-group>
        <md-divider></md-divider>
          <md-list-item *ngFor="let item of itemsRight | filterRigthListPipe: group.value" (click)="onSelect(item)" >
            <h4 md-line>{{item.name}}</h4>
            <md-list-item *ngFor="let flag of item.flags">
              <md-icon md-list-avatar>{{flag}}</md-icon>
            </md-list-item>
          </md-list-item>
    </td>
  </tr>
  </table>

    <!--<md-grid-list cols="3" rowHeight="500px">
      <md-grid-tile>
        <md-card>

        </md-card>
      </md-grid-tile>

      <md-grid-tile>
        <md-card>
         
        </md-card>
      </md-grid-tile>
      
      <md-grid-tile>
        <md-card>
          
        </md-card>
      </md-grid-tile>
    </md-grid-list>-->
